@import './components/tooltip/tooltip.less';

#app{
    font-family: sans-serif;
    display: flex;

    aside{
        padding: 20px;
        border-right: 2px solid grey;
        height: 100vh;
        
        nav{
            color: black;
            cursor: pointer;

            &:hover{
                color: grey;
            }
        }
    }

    main{
        padding: 100px;
    }
}