

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    border-bottom: 2px #00716b solid;
    border-image: linear-gradient(45deg, #00afaf, transparent) 50;

    li{
        padding: 5px;
        line-height: 24px;
        color: #00716b;
        margin-left: 5px;
        background-color: grey;
        border-radius: 3px;
    }
}